
.row,mt-4{
  justify-content: center;
  font-family: Roboto, Arial, sans-serif;
}

.input-group,input-group-lg,mb-3{
  justify-content: center;
}

.card-body{
  text-align: center;
}
.text{
  margin-top: 5px;
  margin-right: 20px;
}
.input{
  width: 75%;
}
